$animation-duration: 0.25s;

.header{
	background-color: rgba(255,255,255,0.3);
	padding: 15px 30px;
	border-bottom: 1px solid white;
	position: fixed;
	width: 100%;
	box-sizing: border-box;
	z-index:1;

	.nav-container{
		background-image: url("../img/ps-logo.png");
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: center;
	    padding-left: 25px;
	    height: 70px;
		position: relative;

	    ul{
	    	bottom: 0px;
			position: absolute;
			right: 0px;
	    }

		li{
			display: inline;
			margin-right: 10px;
		}
	}
}

.main-container{
	overflow: hidden;
	box-sizing: border-box;
	overflow-y: scroll;
	min-height: 100%;
}

.nav-container2{
	width: 200px;
	background-color: black;
	height: 100%;
	position: fixed;
	//display: none;
	left: -200px;
}

.content-container2{
	position: relative;
	right: 0px;
	box-shadow: 0 10px 25px #000000;
}

.nav-container2-open-menu{
	-webkit-animation: menuanimation $animation-duration;
	left: 0px;
}

.nav-container2-close-menu{
	left: inherit;
	-webkit-animation: menuanimationreverese $animation-duration;
	left: -200px;
}

.content-container2-open-menu{
	-webkit-animation: firstanimation $animation-duration;
	right: -200px;
	//-webkit-filter: brightness(0.6) blur(2px);
}

.content-container2-close-menu{
	-webkit-animation: firstanimationreverese $animation-duration;
}

@-webkit-keyframes menuanimation
{
	from {left: -200px;}
	to {left: 0px;}
}

@-webkit-keyframes menuanimationreverese
{
	from {left: 0px;}
	to {left: -200px;}
}

@-webkit-keyframes firstanimation
{
	from {right: 0px;}
	to {right: -200px;}
}

@-webkit-keyframes firstanimationreverese
{
	from {right: -200px;}
	to {right: 0px;}
}






