<span class='column-container'>
      <span class='column'>
      	<h1>Job Postings</h1>
        <p>Join the Squad! We are always on the hunt for exceptional talent who are passionate, hard-working and hard-playing.</p>
        <h1>Available Opportunities</h1>
        <p>See our current opportunities</p>
      </span>

      <span class='column'>
        <h1>Follow Us</h1>
        <ul>
        	<li>facebook</li>
        	<li>twitter</li>
        	<li>instagram</li>
        </ul>
      </span>

      <span class='column'>
      	<h1>Menu</h1>
        <ul>
        	<li>Our Approach</li>
        	<li>Advertisers</li>
        	<li>Ad Spec Sheet</li>
        	<li>Creative Ad Gallery</li>
        	<li>Publishers</li>
        	<li>Publisher Case Studies</li>
        	<li>Blog</li>
        	<li>Contact Us</li>
        	<li>Job Postings</li>
        </ul>
      </span>

      <span class='column'>
      	<h1>Contact Us</h1>
      	<p>We'd love to hear from you</p>
      	<h2>Advertising</h2>
      	<p>sales@padsquad.com</p>
      	<h2>Publishers</h2>
      	<p>publishers@padsquad.com</p>
      	<h2>PadSquad Headquarters</h2>
      	<p>900 Broadway, Suite 704 New York, NY 10003</p>
      </span>

    </span>