<span class='column-container'>
      <span class='column'>
      	<h1>Job Postings</h1>
        <p>Join the Squad! We are always on the hunt for exceptional talent who are passionate, hard-working and hard-playing.</p>
        <h1>Available Opportunities</h1>
        <p>See our current opportunities</p>
      </span>

      <span class='column'>
        <h1>Follow Us</h1>
        <ul>
        	<li class='icon-facebook'><a href='http://facebook.com'>facebook</a></li>
        	<li class='icon-twitter'><a href='http://twitter.com'>twitter</a></li>
        	<li class='icon-instagram'><a href='http://instagram.com'>instagram</a></li>
        </ul>
      </span>

      <span class='column'>
      	<h1>Menu</h1>
        <ul>
        	<li><a href='#/approach'>Our Approach</a></li>
        	<li><a href='#/approach'>Advertisers</a></li>
        	<li><a href='#/approach'>Ad Spec Sheet</a></li>
        	<li><a href='#/approach'>Creative Ad Gallery</a></li>
        	<li><a href='#/approach'>Publishers</a></li>
        	<li><a href='#/approach'>Publisher Case Studies</a></li>
        	<li><a href='#/approach'>Blog</a></li>
        	<li><a href='#/approach'>Contact Us</a></li>
        	<li><a href='#/approach'>Job Postings</a></li>
        </ul>
      </span>

      <span class='column'>
      	<h1>Contact Us</h1>
      	<p>We'd love to hear from you</p>
      	<h2>Advertising</h2>
      	<p>sales@padsquad.com</p>
      	<h2>Publishers</h2>
      	<p>publishers@padsquad.com</p>
      	<h2>PadSquad Headquarters</h2>
      	<p>900 Broadway, Suite 704 New York, NY 10003</p>
      </span>

    </span>